@font-face {
  font-family: 'sf_pro';
  src: url('/static/fonts/SF-Pro-Text-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'great_vibes';
  src: url('/static/fonts/GreatVibes-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'adlery_swash';
  src: url('/static/fonts/Adlery-Swash.ttf') format('truetype');
}

@font-face {
  font-family: 'tajawal';
  src: url('/static/fonts/Tajawal-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'tajawal';
  font-weight: bold;
  src: url('/static/fonts/Tajawal-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'berkshire_swash';
  src: url('/static/fonts/BerkshireSwash-Regular.ttf') format('truetype');
}

html,
body,
#__next {
  height: 100%;
}

body {
  margin: 0;
  font-family: tajawal;
}

.toast-background {
  background-color: #3da241;
}

.toast-body {
  color: #fff;
  font-family: tajawal;
  font-size: 1.2em;
}

.toast-progress {
  background: linear-gradient(-12deg, #afe6cd, #bbd487);
}
